:root {
    --bg: #f4f7f9;
    --text: #333;
    --heading: #1a202c;
    --border: #e2e8f0;

    --btn-bg: #4a5568;
    --btn-hover: #2d3748;

    --primary: #3182ce;
    --primary-hover: #2c5282;

    --danger: #e53e3e;
    --danger-hover: #c53030;

    --card-bg: #ffffff;
    --border-search: #333;
}

.dark {
    --bg: #121212;
    --text: #e5e7eb;
    --heading: #f1f5f9;
    --border: #2d3748;

    --btn-bg: #374151;
    --btn-hover: #4b5563;

    --primary: #6366f1;
    --primary-hover: #4f46e5;

    --danger: #ef4444;
    --danger-hover: #dc2626;

    --card-bg: #1f2933;
    --border-search: #e5e7eb;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.auth-card{
    max-width: 380px;
    padding: 30px;
    background-color: var(--card-bg);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin: 0;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.auth-card h3{
    color: var(--text);
    margin-bottom: 20px;
}

.auth-card input{
    width: 95%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid var(--border-search);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

.auth-card input:focus {
    border-color: var(--primary);
    outline: none;
}

.auth-card button[type="submit"] {
    background-color: var(--primary);
    color: white;
}

.auth-card button[type="submit"]:hover {
    background-color: var(--primary-hover);
}

.auth-card button[type="button"]:nth-of-type(1) {
    background-color: var(--btn-bg);
    color: white;
}

.auth-card button[type="button"]:nth-of-type(1):hover {
    background-color: var(--btn-hover);
}

.auth-card button:last-child {
    background: none;
    border: none;
    color: var(--primary);
    text-decoration: underline;
    margin-top: 10px;
}

.auth-card button:last-child:hover {
    color: var(--primary-hover);
    text-decoration: none;
}
