.products-container {
    width: 100%;
}

.search-wrapper {
    margin-bottom: 10px;
}

.products-ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.productElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.productElement:hover {
    background-color: rgba(0,0,0,0.02);
}

.img-container {
    margin-right: 15px;
    flex-shrink: 0;
    width: 33%;
    height: 33%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.content-info {
    flex-grow: 1;
    min-width: 0;
}

.content-info .name {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

.content-info .description {
    margin: 0;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.actions-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 15px;
    flex-shrink: 0;
}

.actions-section h5 {
    margin: 0 0 5px 0;
}

.price-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 4px;
}

.price-row .price {
    font-size: 1.1em;
}

.price-row .description {
    font-size: 0.8em;
    margin: 0;
}